{
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ],
      "presets": [
        "react",
        "stage-1",
        "flow"
      ]
    },
    "ssr": {
      "presets": [
        "react",
        "stage-1",
        "flow"
      ]
    },
    "development": {
      "plugins": "react-hot-loader/babel",
      "presets": [
        "stage-1",
        "react",
        "flow"
      ]
    },
    "production": {
      "plugins": ["transform-runtime"],
      "presets": [
        ["es2015", {"modules": false}],
        "stage-1",
        "react",
        "flow"
      ]
    }
  }
}
