{
  "presets": [
    "flow",
    "stage-1",
    "react"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": [],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    },
    "ssr": {
      "presets": [],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    },
    "development": {
      "presets": [["es2015", {"modules": false}]],
      "plugins": "react-hot-loader/babel"
    },
    "production": {
      "presets": [["es2015", {"modules": false}]]
    }
  }
}
