{
  "presets": [
    "es2015",
    "stage-1",
    "react"
  ],
  "plugins": [
    "transform-react-router-optimize",
    "transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-runtime",
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [
        [
          "es2015",
          {"modules": false}
        ],
        "stage-1",
        "react"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
