/*------------------------------------*\
  #HERO
\*------------------------------------*/

.c-hero {
  background-color: $global-color-primary;
  color: $global-color-secondary;
  margin-bottom: $global-space-5;
  padding-bottom: $global-spacing-unit;
  padding-top: calc(#{$global-header-height} + 2.25rem + #{$global-space-5});
  text-align: center;
}

  .c-hero__title {
    font-size: $global-fz-h1;
    margin: 0;
  }

  .c-hero__date {
    margin-bottom: $global-space-6;
    opacity: .5;
  }

  .c-hero__footer {
    @include reset-list();

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
