/*------------------------------------*\
  #NOT-FOUND
\*------------------------------------*/

.c-not-found-screen{
  align-items: center;
  background-color: $global-color-primary;
  color: $global-color-secondary;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

  .c-not-found-screen__title {
    animation: glitch 2s infinite;
    font-range: 25em 75em;
    font-size: responsive 7em 10em;
    line-height: 1;
    margin: 0;
    will-change: text-shadow;
  }





$r: rgba(255,0,0,1);
$g: rgba(0,255,0,1);
$b: rgba(0,0,255,1);

@keyframes glitch{
  @include mini-glitch($r, $b, 1, 0, 10);
  @include mini-glitch($r, $g, 0.5, 11, 20);
  @include mini-glitch($b, $g, 0.7, 21, 40);

  @include big-glitch($b, $g, 50, 41, 42);

  @include mini-glitch($r, $g, 0.5, 43, 50);
  @include mini-glitch($r, $b, 1, 51, 60);

  @include big-glitch($r, $g, 30, 61, 62);

  @include mini-glitch($r, $b, 0.5, 63, 70);

  @include big-glitch($r, $b, 70, 71, 72);

  @include mini-glitch($r, $b, 1, 73, 80);
  @include mini-glitch($r, $g, 0.5, 81, 90);

  @include big-glitch($g, $b, 60, 91, 92);

  @include mini-glitch($b, $g, 0.7, 92, 100);
}
