// check dependencies

$wocss-settings-global: false !default;


@if ($wocss-settings-global == false) {
  @error "[components-buttons] Have you included the wocss-settings-global module?"
};





/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.c-btn {
  border-radius: 15em;
  color: transparent;
  font-weight: $global-fw-s-bold;
  letter-spacing: $global-letter-spacing;
  text-transform: uppercase;
  transition: transform 0.3s ease;

  &:focus {
    outline: none;
    transform: scale(1.05);
  }

  &:hover {
    transform: none;
  }

  &:active {
    transform: none;
  }
}


.c-btn--primary {
  background-color: $global-color-primary;
  color: $global-color-secondary;

  &:hover {
    background-color: scale-color($global-color-primary, $lightness: 10%);
  }
}


/**
 * 1. Make letters transparent.
 */

.c-btn--secondary {
  background-color: $global-color-secondary;
  color: $global-color-primary;
  mix-blend-mode: lighten; /* [1] */

  &:hover {
    background-color: scale-color($global-color-secondary, $lightness: -10%);
  }
}

.c-btn--ghost {
  border: $global-border-width solid currentColor;

  &,
  &:hover {
    background-color: transparent;
  }
}
