/*------------------------------------*\
  #ABOUT-SCREEN
\*------------------------------------*/


/**
 * 1. Remove scrollbar from grid object.
 */

.c-about-screen {
  lost-flex-container: row;
  margin-bottom: $global-space-5;
}

  .c-about-screen__profile {
    margin-bottom: $global-space-5;
    width: 100%;

    @include mq($from: 'tablet', $until: 'laptop') {
      text-align: center;
    };

    @include mq($from: 'laptop') {
      lost-column: 2.15/7 2 $global-space-5;
    };
  }

    .c-about-screen__profile-image {
      $img-width: 350;

      @include layout-aspect-ratio($img-width, 400);

      background-color: $global-color-primary;
      margin: 0 auto $global-space-4;
      max-width: $img-width * 1px;
      position: relative;

      img {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

  .c-about-screen__info {
    font-size: $global-fz-sm;
    overflow: hidden; /* [1] */

    @include mq($from: 'laptop') {
      lost-column: 4.85/7 2 $global-space-5;
    }
  }
