/*------------------------------------*\
  #SITE-ERROR
\*------------------------------------*/

$r: rgba(255,0,0,1);
$g: rgba(0,255,0,1);
$b: rgba(0,0,255,1);


/**
 * 1. Perfect verticual center.
 * 2. Responsive font size.
 */

.c-site-error {
  align-items: center; /* [1] */
  background-color: $black;
  color: $white;
  display: flex; /* [1] */
  flex-direction: column; /* [1] */
  height: 100%;
  justify-content: center; /* [1] */
  left: 0;
  padding: $global-header-height $global-spacing-unit 0; /* [1] */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

  .c-site-error__title {
    animation: glitch 2s infinite;
    font-range: 25em 75em; /* [2] */
    font-size: responsive 7em 10em; /* [2] */
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    will-change: text-shadow;
  }

  .c-site-error__message {
    font-size: $global-fz-h2;
    text-align: center;
  }

.c-site-error--invert {
  background-color: $white;
  color: $black;
}





@keyframes glitch {
  @include mini-glitch($r, $b, 1, 0, 10);
  @include mini-glitch($r, $g, 0.5, 11, 20);
  @include mini-glitch($b, $g, 0.7, 21, 40);
  @include big-glitch($b, $g, 50, 41, 42);
  @include mini-glitch($r, $g, 0.5, 43, 50);
  @include mini-glitch($r, $b, 1, 51, 60);
  @include big-glitch($r, $g, 30, 61, 62);
  @include mini-glitch($r, $b, 0.5, 63, 70);
  @include big-glitch($r, $b, 70, 71, 72);
  @include mini-glitch($r, $b, 1, 73, 80);
  @include mini-glitch($r, $g, 0.5, 81, 90);
  @include big-glitch($g, $b, 60, 91, 92);
  @include mini-glitch($b, $g, 0.7, 92, 100);
}
