/*------------------------------------*\
  #SITE-NAV
\*------------------------------------*/


/**
 * 1. Fade effect.
 * 2. Perfect vertical scrollable center.
 */

.c-site-nav {

  ul {
    @include reset-list;
    margin: 0;
  }

  @include mq($from: 'laptop') {
    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 2em;
      }
    }
  };

  @include mq($until: 'laptop') {
    transition: opacity 0.3s linear, visibility 0s linear 0.3s; /* [1] */
    will-change: opacity;

    align-items: center; /* [2] */
    background-color: $global-color-primary;
    display: flex; /* [2] */
    flex-direction: column; /* [2] */
    height: 100%;
    left: 0;
    opacity: 0; /* [1] */
    overflow: auto; /* [2] */
    position: fixed;
    top: 0;
    visibility: hidden; /* [1] */
    width: 100%;

    &::after,
    &::before {
      content: ''; /* [2] */
      flex: 1 1 0; /* [2] */
      width: 0; /* [2] */
    }

    &.is-open {
      opacity: 1; /* [1] */
      visibility: visible; /* [1] */
      transition: opacity 0.3s linear; /* [1] */
    }

    ul {
      flex: none; /* [2] */
      width: 100%;
    }

    li {
      display: block;
      // opacity: 0;
    }
  };
}

  .c-site-nav__link {
    font-weight: $global-fw-s-bold;
    letter-spacing: $global-letter-spacing;
    padding: 0;
    position: relative;
    text-transform: uppercase;

    // link border
    &::after {
      background-color: currentColor;
      content: "";
      display: block;
      height: 0.125em;
      left: 0;
      opacity: .5;
      position: absolute;
      top: 100%;
      transform: scaleX(0);
      transition: transform 0.3s ease;
      width: 100%;
    }

    &:focus,
    &.active,
    &:hover,
    &.is-active {

      // link border
      &::after {
        transform: scaleX(1);
      }
    }

    @include mq($until: 'laptop') {
      color: $global-color-secondary;
      display: block;
      font-size: 1.5em;
      width: 100%;
      padding: .5em 0;

      // link border
      &::after {
        height: 100%;
        top: 0;
      }
    };
  }
