/*------------------------------------*\
  #APP
\*------------------------------------*/

/**
 * 1. Hold the absolute elements. (This element will have the [100vw - the scrollbar width] ever)
 * 2. Fix height on old safari browsers.
 * 3. Fix pages on print media.
 * 4. Fix android browser scrollbar.
 * 5. Stick footer to bottom.
 */

.c-app-layout {
  -webkit-overflow-scrolling: touch;
  display: block;
  height: 100vh;
  max-height: 750px; /* [2] */
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;

  @media print {
    overflow-y: initial; /* [3] */
  }
}

  .c-app-layout__wrapper {
    display: flex; /* [5] */
    flex-direction: column; /* [5] */
    min-height: 100%;
    overflow: hidden; /* [4] */
    position: relative; /* [1] */
    width: 100%;
  }
