// check dependencies

$wocss-settings-global: false !default;


@if ($wocss-settings-global == false) {
  @error "[elements-links] Have you included the wocss-settings-global module?"
};





/*------------------------------------*\
  #LINKS
\*------------------------------------*/

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    @include shared-focus-styles();
  }

  &:active,
  &:hover {
    outline: none;
  }
}

a:not([class]) {
  border-bottom: 1px dotted currentColor;
  color: var(--textNormal);

  &:active,
  &:focus,
  &:hover {
    border-bottom-style: solid;
  }
}
