/*------------------------------------*\
  #PAGE
\*------------------------------------*/

html {
  font-family: 'Poppins', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: $global-fw-regular;
  line-height: 1.5;
}

#root,
html,
body {
  width: 100%;
  height: 100%;
}

@include mq($from: 'laptop') {

  ::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    box-shadow: inset 0 0 6px rgba($global-color-primary, .3);
  }

  ::-webkit-scrollbar {
  	width: 12px;
  }

  ::-webkit-scrollbar-thumb {
  	background-color: $black;

    &:hover {
      background: scale-color($black, $lightness: 20%);
    }

    &:active {
      background: scale-color($black, $lightness: -20%);
    }

    &:window-inactive {
      background: scale-color($black, $lightness: 20%);
    }
  }
};
