// check dependencies

$wocss-settings-spaces: false !default;
$wocss-tools-bem-constructor: false !default;
$wocss-tools-mq: false !default;


@if ($wocss-settings-spaces == false) {
  @error "[wocss-objects-grid] Have you included the wocss-settings-spaces module?"
};

@if ($wocss-tools-bem-constructor == false) {
  @error "[wocss-objects-grid] Have you included the wocss-tools-bem-constructor module?"
};

@if ($wocss-tools-mq == false) {
  @error "[wocss-objects-grid] Have you included the wocss-tools-mq module?"
};





/*------------------------------------*\
  #GRID
\*------------------------------------*/

$wo-object-namespace: if($bem-use-namespaces, map-get($bem-block-namespaces, 'object') + '-', '');
$wo-suffix-namespace: if($bem-use-namespaces, $bem-suffix-namespace, '');





/**
 * 1. Make negative margins work properly.
 * 2. Fix children's height (when it is stretch).
 * 3. Allow the element is reduced to 0 (width).
 */

.#{$wo-object-namespace}grid {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  width: auto; /* [1] */
}

  .#{$wo-object-namespace}grid__item {
    box-sizing: border-box;
    flex: 1 1 0; /* [3] */

    .#{$wo-object-namespace}grid--stretch > & {
      display: flex; /* [2] */
    }

    @each $gutter-key, $gutter-value in $wocss-spaces {
      .#{$wo-object-namespace}grid--gutter-#{$gutter-key} > & {
        padding: ($gutter-value / 2);
      }

      .#{$wo-object-namespace}grid--gutter-x-#{$gutter-key} > & {
        padding-left: ($gutter-value / 2);
        padding-right: ($gutter-value / 2);
      }

      .#{$wo-object-namespace}grid--gutter-y-#{$gutter-key} > & {
        padding-bottom: ($gutter-value / 2);
        padding-top: ($gutter-value / 2);
      }
    }
  }

  .#{$wo-object-namespace}grid__item--auto {
    flex: 1 1 auto;
    width: auto;
  }

  .#{$wo-object-namespace}grid__item--fit {
    flex: 1 1 0;
  }

  @each $breakpoint-key, $breakpoint-value in $wocss-breakpoints {
    .#{$wo-object-namespace}grid__item--auto#{$wo-suffix-namespace + $breakpoint-key} {
      @include mq($from: $breakpoint-value) {
        flex: 1 1 auto;
        width: auto;
      }
    }

    .#{$wo-object-namespace}grid__item--fit#{$wo-suffix-namespace + $breakpoint-key} {
      @include mq($from: $breakpoint-value) {
        flex: 1 1 0;
      }
    }
  }


.#{$wo-object-namespace}grid--stretch {
  align-items: center;
}

.#{$wo-object-namespace}grid--middle {
  align-items: stretch;
}

@each $gutter-key, $gutter-value in $wocss-spaces {
  .#{$wo-object-namespace}grid--gutter-#{$gutter-key} {
    margin: ($gutter-value / -2);
  }

  .#{$wo-object-namespace}grid--gutter-x-#{$gutter-key} {
    margin-left: ($gutter-value / -2);
    margin-right: ($gutter-value / -2);
  }

  .#{$wo-object-namespace}grid--gutter-y-#{$gutter-key} {
    margin-bottom: ($gutter-value / -2);
    margin-top: ($gutter-value / -2);
  }
}
