/*------------------------------------*\
  #COLORS
\*------------------------------------*/

// brand colors

$global-color-primary: #000000;
$global-color-secondary: #FFFFFF;
// $global-color-tertiary: #5AB7E8;





/*------------------------------------*\
  #BORDER
\*------------------------------------*/

// $global-border-radius: 3px;
$global-border-width: 0.125em;
// $global-border-color: $global-color-primary;





/*------------------------------------*\
  #OTHERS
\*------------------------------------*/

// $global-spacing-unit: 1.5rem;
// $global-max-width: 80rem; // 1200px
$global-letter-spacing: 0.125em;
$global-header-height: 100px;





/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

// $global-fz-h00: 3rem;
// $global-fz-h0 : 2.6rem;
// $global-fz-h1 : 2rem;
// $global-fz-h2 : 1.5rem;
// $global-fz-h3 : 1.25rem;
// $global-fz-h4 : 1rem;
