/*------------------------------------*\
  #PROJECT
\*------------------------------------*/

@mixin layout-aspect-ratio ($width, $height, $max-width: false) {
  @if $max-width != false {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
  }

  &::before {
    content: "";
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }
}

@mixin shared-focus-styles {
  outline-offset: 2px;
  outline: 2px solid rgba(#000000, .25);
}
