/*------------------------------------*\
  #GLITCH
\*------------------------------------*/

// src: http://codepen.io/bulby97/pen/fcvay


$px: 0 !default;
$px2: 0 !default;


@mixin mini-glitch($c1, $c2, $coeff, $start, $end){
  $interval: $end - $start;
  @for $i from $start through $end {
    #{$i * 1%} {
      @if $i < $start + ($interval/2){
        $px : $px + $coeff;$px2: -$px;
        text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
      }
      @else{
        $px : $px - 1;$px2: -$px;
        text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
      }
    }
  }
  $px: 0;$px2: 0;
}


@mixin big-glitch($c1, $c2, $distance, $start, $end){
  @for $i from $start through $end {
    #{$i * 1%} {
      @if $i == $end {
          text-shadow: 0 0 0 $c1, 0 0 0 $c2;
      }
      @else{
          $px : $distance;$px2: -$px;
          text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
      }
    }
  }
  $px: 0;$px2: 0;
}
