/*------------------------------------*\
  #MARKDOWN-BODY
\*------------------------------------*/

.c-markdown-body {
  color: var(--textMarkdown);
}

.c-markdown-body code {
  background-color: var(--codeBg);
}

.c-markdown-body h1,
.c-markdown-body h2 {
  border-bottom-width: 0;
}

.c-markdown-body img {
  background-color: transparent;
}

.c-markdown-body blockquote {
  color: var(--textMuted);
}

.c-markdown-body pre {
  background-color: var(--codeBg);
}

.c-markdown-body a,
.c-markdown-body a:hover,
.c-markdown-body a:active {
  color: var(--textMarkdownLink);
  text-decoration: none;
}

.c-markdown-image-full {
  transform: translateX(calc(-1 * ((100vw - 100%) / 2))); /* HACK: full width img */
}

.c-markdown-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.c-markdown-image-full > img {
  max-width: none; /* HACK: full width img */
  width: calc(100vw); /* HACK: full width img */
}


/**
 * Fix IE calc in transform bug.
 */

.Trident .c-markdown-image-full {
  transform: none;
}

.Trident .c-markdown-image-full img {
  max-width: 100%;
  width: 100%;
}
