$icomoon-font-path: "fonts" !default;

$icon-free_code_camp: "\e901";
$icon-arrow_drop_down_circle: "\e900";
$icon-facebook: "\ea91";
$icon-twitter: "\ea96";
$icon-rss: "\ea9b";
$icon-github: "\eab0";
$icon-codepen: "\eae8";
$icon-npm: "\eab1";

